In [26]:
import pandas as pd
import unicodedata

In [27]:
archivo_csv = "..\\ETL-PROJECT\\data\\renta.csv"
df = pd.read_csv(archivo_csv)
df[['Municipios', 'Distritos', 'Secciones', 'Indicadores', 'Periodo', 'Total']] = df['Municipios;Distritos;Secciones;Indicadores de renta media y mediana;Periodo;Total'].str.split(';', expand=True)
df.drop(columns=['Municipios;Distritos;Secciones;Indicadores de renta media y mediana;Periodo;Total'], inplace=True)
df = df.drop ('Secciones', axis = 1)
df = df.drop ('Municipios', axis = 1)
df

                     Distritos                    Indicadores Periodo   Total
0                               Renta neta media por persona     2021  17.586
1   2807901 Madrid distrito 01  Renta neta media por persona     2021  19.199
2   2807902 Madrid distrito 02  Renta neta media por persona     2021  20.103
3   2807903 Madrid distrito 03  Renta neta media por persona     2021  23.925
4   2807904 Madrid distrito 04  Renta neta media por persona     2021  25.956
5   2807905 Madrid distrito 05  Renta neta media por persona     2021  28.233
6   2807906 Madrid distrito 06  Renta neta media por persona     2021  17.026
7   2807907 Madrid distrito 07  Renta neta media por persona     2021  25.275
8   2807908 Madrid distrito 08  Renta neta media por persona     2021  20.671
9   2807909 Madrid distrito 09  Renta neta media por persona     2021  24.659
10  2807910 Madrid distrito 10  Renta neta media por persona     2021  13.719
11  2807911 Madrid distrito 11  Renta neta media por persona     2021  12.275
12  2807912 Madrid distrito 12  Renta neta media por persona     2021  10.797
13  2807913 Madrid distrito 13  Renta neta media por persona     2021  10.941
14  2807914 Madrid distrito 14  Renta neta media por persona     2021  15.667
15  2807915 Madrid distrito 15  Renta neta media por persona     2021  16.890
16  2807916 Madrid distrito 16  Renta neta media por persona     2021  20.500
17  2807917 Madrid distrito 17  Renta neta media por persona     2021  11.059
18  2807918 Madrid distrito 18  Renta neta media por persona     2021  13.605
19  2807919 Madrid distrito 19  Renta neta media por persona     2021  13.849
20  2807920 Madrid distrito 20  Renta neta media por persona     2021  15.115
21  2807921 Madrid distrito 21  Renta neta media por persona     2021  19.482

In [28]:
mapeo_distritos = {
    '2807901 Madrid distrito 01': 'Centro',
    '2807902 Madrid distrito 02': 'Arganzuela',
    '2807903 Madrid distrito 03': 'Retiro',
    '2807904 Madrid distrito 04': 'Salamanca',
    '2807905 Madrid distrito 05': 'Chamartín',
    '2807906 Madrid distrito 06': 'Tetuán',
    '2807907 Madrid distrito 07': 'Chamberí',
    '2807908 Madrid distrito 08': 'Fuencarral',
    '2807909 Madrid distrito 09': 'Moncloa',
    '2807910 Madrid distrito 10': 'Latina',
    '2807911 Madrid distrito 11': 'Carabanchel',
    '2807912 Madrid distrito 12': 'Usera',
    '2807913 Madrid distrito 13': 'Puente de Vallecas',
    '2807914 Madrid distrito 14': 'Moratalaz',
    '2807915 Madrid distrito 15': 'Ciudad Lineal',
    '2807916 Madrid distrito 16': 'Hortaleza',
    '2807917 Madrid distrito 17': 'Villaverde',
    '2807918 Madrid distrito 18': 'Villa de Vallecas',
    '2807919 Madrid distrito 19': 'Vicálvaro',
    '2807920 Madrid distrito 20': 'San Blas',
    '2807921 Madrid distrito 21': 'Barajas'
}

df['Distritos'] = df['Distritos'].map(mapeo_distritos)
df

             Distritos                    Indicadores Periodo   Total
0                  NaN  Renta neta media por persona     2021  17.586
1               Centro  Renta neta media por persona     2021  19.199
2           Arganzuela  Renta neta media por persona     2021  20.103
3               Retiro  Renta neta media por persona     2021  23.925
4            Salamanca  Renta neta media por persona     2021  25.956
5            Chamartín  Renta neta media por persona     2021  28.233
6               Tetuán  Renta neta media por persona     2021  17.026
7             Chamberí  Renta neta media por persona     2021  25.275
8           Fuencarral  Renta neta media por persona     2021  20.671
9              Moncloa  Renta neta media por persona     2021  24.659
10              Latina  Renta neta media por persona     2021  13.719
11         Carabanchel  Renta neta media por persona     2021  12.275
12               Usera  Renta neta media por persona     2021  10.797
13  Puente de Vallecas  Renta neta media por persona     2021  10.941
14           Moratalaz  Renta neta media por persona     2021  15.667
15       Ciudad Lineal  Renta neta media por persona     2021  16.890
16           Hortaleza  Renta neta media por persona     2021  20.500
17          Villaverde  Renta neta media por persona     2021  11.059
18   Villa de Vallecas  Renta neta media por persona     2021  13.605
19           Vicálvaro  Renta neta media por persona     2021  13.849
20            San Blas  Renta neta media por persona     2021  15.115
21             Barajas  Renta neta media por persona     2021  19.482

In [29]:
nuevo_nombre = 'Madrid'
df.loc[0, 'Distritos'] = nuevo_nombre
df = df.drop ('Indicadores', axis = 1)

In [30]:
df

             Distritos Periodo   Total
0               Madrid    2021  17.586
1               Centro    2021  19.199
2           Arganzuela    2021  20.103
3               Retiro    2021  23.925
4            Salamanca    2021  25.956
5            Chamartín    2021  28.233
6               Tetuán    2021  17.026
7             Chamberí    2021  25.275
8           Fuencarral    2021  20.671
9              Moncloa    2021  24.659
10              Latina    2021  13.719
11         Carabanchel    2021  12.275
12               Usera    2021  10.797
13  Puente de Vallecas    2021  10.941
14           Moratalaz    2021  15.667
15       Ciudad Lineal    2021  16.890
16           Hortaleza    2021  20.500
17          Villaverde    2021  11.059
18   Villa de Vallecas    2021  13.605
19           Vicálvaro    2021  13.849
20            San Blas    2021  15.115
21             Barajas    2021  19.482

In [31]:
df = df.rename(columns={'Total': 'Renta media p/p (neto)'})
df.rename(columns={'Distritos': 'Distrito'}, inplace=True)
df

              Distrito Periodo Renta media p/p (neto)
0               Madrid    2021                 17.586
1               Centro    2021                 19.199
2           Arganzuela    2021                 20.103
3               Retiro    2021                 23.925
4            Salamanca    2021                 25.956
5            Chamartín    2021                 28.233
6               Tetuán    2021                 17.026
7             Chamberí    2021                 25.275
8           Fuencarral    2021                 20.671
9              Moncloa    2021                 24.659
10              Latina    2021                 13.719
11         Carabanchel    2021                 12.275
12               Usera    2021                 10.797
13  Puente de Vallecas    2021                 10.941
14           Moratalaz    2021                 15.667
15       Ciudad Lineal    2021                 16.890
16           Hortaleza    2021                 20.500
17          Villaverde    2021                 11.059
18   Villa de Vallecas    2021                 13.605
19           Vicálvaro    2021                 13.849
20            San Blas    2021                 15.115
21             Barajas    2021                 19.482

In [32]:
from funcion import quitar_tildes_y_simbolos

df['Distrito'] = df['Distrito'].apply(quitar_tildes_y_simbolos)
df

              Distrito Periodo Renta media p/p (neto)
0               Madrid    2021                 17.586
1               Centro    2021                 19.199
2           Arganzuela    2021                 20.103
3               Retiro    2021                 23.925
4            Salamanca    2021                 25.956
5            Chamartin    2021                 28.233
6               Tetuan    2021                 17.026
7             Chamberi    2021                 25.275
8           Fuencarral    2021                 20.671
9              Moncloa    2021                 24.659
10              Latina    2021                 13.719
11         Carabanchel    2021                 12.275
12               Usera    2021                 10.797
13  Puente de Vallecas    2021                 10.941
14           Moratalaz    2021                 15.667
15       Ciudad Lineal    2021                 16.890
16           Hortaleza    2021                 20.500
17          Villaverde    2021                 11.059
18   Villa de Vallecas    2021                 13.605
19           Vicalvaro    2021                 13.849
20            San Blas    2021                 15.115
21             Barajas    2021                 19.482

In [33]:
df['Renta media p/p (neto)'] = df['Renta media p/p (neto)'].str.replace(".","")
df['Renta media p/p (neto)'] = df['Renta media p/p (neto)'].astype(int)

In [34]:
df = df.drop(0)

In [39]:
df['Distrito'] = df['Distrito'].str.replace("Fuencarral-El Pardo", "Fuencarral")

In [40]:
df = df.sort_values(by='Distrito')
df

              Distrito Periodo  Renta media p/p (neto)
2           Arganzuela    2021                   20103
21             Barajas    2021                   19482
11         Carabanchel    2021                   12275
1               Centro    2021                   19199
5            Chamartin    2021                   28233
7             Chamberi    2021                   25275
15       Ciudad Lineal    2021                   16890
8           Fuencarral    2021                   20671
16           Hortaleza    2021                   20500
10              Latina    2021                   13719
9              Moncloa    2021                   24659
14           Moratalaz    2021                   15667
13  Puente de Vallecas    2021                   10941
3               Retiro    2021                   23925
4            Salamanca    2021                   25956
20            San Blas    2021                   15115
6               Tetuan    2021                   17026
12               Usera    2021                   10797
19           Vicalvaro    2021                   13849
18   Villa de Vallecas    2021                   13605
17          Villaverde    2021                   11059

In [41]:
df.to_csv('Rentas.csv', index = False)