## CREACIÓN DE TABLA CENTRAL: DISTRITOS

In [5]:
import pandas as pd

CREAMOS UN DATAFRAME CON LOS 21 DISTRITOS DE MADRID

In [6]:
distritos = ['Centro','Arganzuela','Retiro','Salamanca','Chamartín','Tetuán','Chamberí','Fuencarral','Moncloa','Latina','Carabanchel','Usera','Puente de Vallecas','Moratalaz','Ciudad Lineal','Hortaleza','Villaverde','Villa de Vallecas','Vicálvaro','San Blas','Barajas']
columnas = ['Distrito']
df = pd.DataFrame(distritos, columns = columnas )
df

              Distrito
0               Centro
1           Arganzuela
2               Retiro
3            Salamanca
4            Chamartín
5               Tetuán
6             Chamberí
7           Fuencarral
8              Moncloa
9               Latina
10         Carabanchel
11               Usera
12  Puente de Vallecas
13           Moratalaz
14       Ciudad Lineal
15           Hortaleza
16          Villaverde
17   Villa de Vallecas
18           Vicálvaro
19            San Blas
20             Barajas

LOS ORDENAMOS POR ORDEN ALFABÉTICO

In [7]:
df = df.sort_values(by='Distrito')
df

              Distrito
1           Arganzuela
20             Barajas
10         Carabanchel
0               Centro
4            Chamartín
6             Chamberí
14       Ciudad Lineal
7           Fuencarral
15           Hortaleza
9               Latina
8              Moncloa
13           Moratalaz
12  Puente de Vallecas
2               Retiro
3            Salamanca
19            San Blas
5               Tetuán
11               Usera
18           Vicálvaro
17   Villa de Vallecas
16          Villaverde

EXPORTAMOS EL DATAFRAME Y GUARDAMOS EN UN ARCHIVO .CSV

In [8]:
df.to_csv('distritos.csv')